<link rel="stylesheet" href="/css/user_profile.css" />

<img src="<%=user.avatar%>" alt="<%=user.name%>" width="100"<%
if(locals.user.id==profile_user.id) {%>
<!-- If user matches, only show the form  -->
<form
  action="/users/update/<%=profile_user.id %>"
  enctype="multipart/form-data"
  method="POST"
>
  <input
    type="text"
    name="name"
    value="<%=profile_user.name %>"
    placeholder="Update Name..."
    required
  />
  <input
    type="email"
    name="email"
    value="<%=profile_user.email%>"
    placeholder="Update Email....."
    required
  />
  <input type="file" name="avatar" placeholder="Profile Picture" />
  <input type="submit" value="Update" name="Update" />
</form>

<% }else{ %>
<!-- If user doesn't match, show profile information  -->

<p><%=profile_user.name%></p>
<p><%=profile_user.email%></p>

<%}%>
